<!doctype html>
<html lang="en">
  <head>
    <title>Chat Demo</title>
    <link rel="stylesheet" href="css/chat.css" />
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header></header>
        <div id="content"></div>
      </div>
    </div>
    <script src="js/vendor/jquery-min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>

    <script type="text/template" id="room-template">
      <div id="chat_window">
        <div id="user_list"></div>
        <div id="messages"></div>
      </div>
      <div id="message_bar">
        <form id="message_form">
          <label for="message">Message:</label>
          <input type="text" name="message" id="message" />
          <input type="submit" name="submit" id="submit" />
        </form>
      </div>
    </script>

    <script type="text/template" id="message-template">
      <div class="message">
        <div class="message_banner">
          <h5><%= this.model.get('user') %></h5>
          <p><%= this.model.get('timestamp') %></p>
        </div>
        <div class="message_content">
          <p><%= this.model.get('content') %></p>
        </div>
      </div>
    </script>
    
    <script type="text/template" id="chat-template">
      
    </script>
    
    <script type="text/template" id="user-template">
      <div id="user_info">
        <form id="user_form">
          <label for="user_name">Name</label>
          <input type="text" name="user_name" id="user_name" />
          <input type="submit" name="user_submit" id="user_submit" />
        </form>
      </div>
    </script>
  </body>
</html>